/* ul.menu-buttons .menu-item */
/* colors */
body {
  background: url(../images/bg.png); }

@font-face {
  font-family: Enigmatics;
  src: url(../fonts/enigmatic_unicode_regular.ttf); }
* {
  font-family: Enigmatics; }

ul.hide-menu li.menu-item{
  height: 0px !important;
}

ul.show-menu li.menu-item{
  height: 109px !important;
}

.mobile-menu {
  text-align: right;
}

.mobile-menu.show {
  display: block;
}

.mobile-menu.hide {
  display: none;
}

.mmenu-btn{
  height: 60px;
  color: #fff;
  background: #f0549d;
  width: 100%;
  border: none;
  font-size: 32px;
}

#logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  min-width: calc(310px/1.5);
  width: 100%;
  min-height: 95px;
  height: 100%; }

#logo-title {
  color: #ea2143; }

.product-detail-title {
    margin-top: 0px;
    padding: 15px;
    background-color: #dddddd;
}

.product_main span.product-price {
    text-align: center;
    font-size: 48px;
    color: #ff193f;
    display: block;
}

.product-tab {
    margin-left: 15px;
}

.product-tab .nav-tabs>li.active>a, .product-tab .nav-tabs>li a:hover {
    border: none;
    background-color: #c0c0c0;
    border-radius: 0px;
    color: #000;
    margin-right: 0px;
}

.product-tab .nav-tabs>li a:hover {
    margin-bottom: 2px;
}

.product-tab a {
    color: #000;
}


.product-tab .nav-tabs {
    border: none;
}

button.add-to-cart-btn {
    background-color: #b4b4b4;
    border: none;
    background-image: none;
    border-radius: 3px;
}

button.add-to-cart-btn:hover, button.add-to-cart-btn:active, button.add-to-cart-btn:focus {
    background-color: #ff193f !important;
    border: none !important;
    background-image: none !important;
    border-radius: 3px !important;
}

.product_main form.add-to-basket{
    text-align: center;
}

.ppaginations {
    margin: 0px 15px;
}

.ppaginations .pager li>a, .ppaginations .pager li>span{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 15px;
    color: #000 !important;
 }

.ppaginations .pager li>a:hover, .ppaginations .pager li>a:active {
    background-color: #b2b2b2;
}

.col-container {
  position: relative;
  height: calc(135px);
  margin-bottom: 0;
  padding: 20px 0; }
  .col-container p {
    text-align: right;
    margin: 0; }
  .col-container .search-field {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .col-container .search-field input {
      border: 1px solid #53a17d;
      border-radius: 0; }
    .col-container .search-field .input-group-addon {
      background: #53a17d;
      border: 1px solid #53a17d;
      border-radius: 0;
      padding: 6px;
      cursor: pointer; }
      .col-container .search-field .input-group-addon .icon-search {
        background-image: url(../images/search.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px; }
  .col-container .free-call {
    font-weight: 500;
    font-size: 14px; }
  .col-container .number {
    color: #ea2143;
    font-size: 36px;
    font-weight: bold; }
  .col-container .callback a {
    color: #53a17d;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline; }

#flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-image: url(../images/flag.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(72.66667px);
  height: calc(99.33333px); }
  #flag .basket {
    background-image: url(../images/basket.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 25px;
    margin: 10px 0 5px 0; }
  #flag .basket-money,
  #flag .basket-items {
    width: 100%;
    text-align: center;
    color: #fff; }

.container {
  min-width: 430px; }
  .container > .row {
    margin-bottom: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background: #fff; }
    .container > .row.fifth-block {
      box-shadow: none;
      background: transparent; }
    .container > .row.--no-row-shadow {
      box-shadow: 0; }
      .container > .row.--no-row-shadow > div {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .container > .row.--bg-none {
      background: transparent; }

#slider-range {
  margin: 30px 0; }
  #slider-range .ui-widget-header {
    background: #ff9eae; }

.dropdown li a {
  color: #fff; }
  .dropdown li a:hover {
    background: transparent; }
  .dropdown li a span {
    color: #fff; }
.dropdown li.dropdown:first-child .dropdown-menu {
  display: block; }
.dropdown .dropdown-menu {
  min-width: calc(350px - 20px);
  margin: 0;
  border-radius: 0;
  width: calc(100% - 20px);
  text-align: center;
  top: 0;
  left: 10px;
  z-index: 1000; }
  .dropdown .dropdown-menu > li {
    display: inline-block;
    width: calc(100%); }
    .dropdown .dropdown-menu > li > a:hover {
      background: rgba(0, 0, 0, 0.16); }
  .dropdown .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: -10px;
    visibility: hidden; }
.dropdown.open {
  position: static; }
  .dropdown.open .dropdown-menu {
    display: table; }

.navbar {
  min-height: 30px;
  background: transparent;
  margin-bottom: 0; }
  .navbar ul.nav li a {
    padding: 5px; }
  .navbar .navbar-toggle {
    float: left; }
  .navbar .navbar-collapse {
    padding-right: 80px;
    width: 100%; }

.random-gift {
  color: #ea2143;
  text-align: center; }

.second-block > * {
  padding-left: 0;
  padding-right: 0; }
.second-block .left-block {
  background: #fff;
  margin: 10px;
  padding: 10px;
  position: relative; }
  .second-block .left-block .form-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #ea2143;
    line-height: 1.2;
    padding-bottom: 10px; }
  .second-block .left-block .form-control.range-input {
    border-radius: 0; }
  .second-block .left-block .submit-filter {
    width: 65%;
    border: none;
    background: #ef5972;
    color: #fff;
    font-size: 16px;
    box-shadow: inset 0 0 10px 0 #000;
    margin: 0 auto;
    display: block;
    padding: 15px; }
.second-block .middle-block {
  margin: 10px; }
  .second-block .middle-block .main-rubric {
    position: relative;
    min-height: 286px;
    background: #ea2143; }
    .second-block .middle-block .main-rubric .label-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.25); }
      .second-block .middle-block .main-rubric .label-wrapper span {
        color: #fff;
        display: block;
        width: 100%;
        font-size: 36px;
        line-height: calc(292px/3);
        text-align: center; }
    .second-block .middle-block .main-rubric .arrow {
      position: absolute;
      width: 30px;
      height: 60px;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
      .second-block .middle-block .main-rubric .arrow.next {
        background-image: url(../images/arrow-right.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        right: 0; }
      .second-block .middle-block .main-rubric .arrow.prev {
        background-image: url(../images/arrow-left.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0; }
.second-block .right-block {
  margin: 10px; }
  .second-block .right-block .rubric-item {
    height: calc((286px - 10px)/2);
    background: yellowgreen;
    position: relative; }
    .second-block .right-block .rubric-item .label-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.25); }
      .second-block .right-block .rubric-item .label-wrapper span {
        color: #fff;
        display: block;
        width: 100%;
        font-size: 20px;
        line-height: calc(calc((286px - 10px)/2)/3);
        text-align: center; }
  .second-block .right-block .rubric-item + .rubric-item {
    margin-top: 10px; }

.third-block .third-block-inner {
  margin: 10px 0; }
  .third-block .third-block-inner .third-block-item {
    position: relative;
    height: 175px;
    background: yellow; }
    .third-block .third-block-inner .third-block-item .bottom-title {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      height: 50px;
      width: 100%; }
      .third-block .third-block-inner .third-block-item .bottom-title .text {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        font-size: 20px;
        text-align: center;
        width: 100%;
        transform: translate(-50%, -50%); }

.fourth-block .fourth-block-title {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 24px; }
.fourth-block .fourth-block-inner {
  margin: 10px 0; }
  .fourth-block .fourth-block-inner .fourth-block-item {
    position: relative;
    height: 250px;
    border: 1px solid;
    background: #fff; }
  ul.menu-buttons .menu-item:hover{box-shadow: none;}
  .fourth-block .fourth-block-inner .fourth-block-descr {
    border: 1px solid;
    background: #efefef; }
    .fourth-block .fourth-block-inner .fourth-block-descr .item-category {
      padding: 10px 0;
      text-align: center; }
    .fourth-block .fourth-block-inner .fourth-block-descr .item-title {
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold; }
    .fourth-block .fourth-block-inner .fourth-block-descr .item-rating {
      text-align: center; }
    .fourth-block .fourth-block-inner .fourth-block-descr .add-to-basket {
      width: 100%;
      padding: 10px 10px 5px 10px;
      background: #ea2143;
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.75); }
      .fourth-block .fourth-block-inner .fourth-block-descr .add-to-basket span {
        color: #fff;
        font-size: 22px; }
      .fourth-block .fourth-block-inner .fourth-block-descr .add-to-basket .basket {
        background-image: url(../images/basket.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        float: right; }

.fifth-block .fifth-block-col {
  padding: 0; }
.fifth-block .fifth-block-col + .fifth-block-col {
  padding-top: 20px; }
.fifth-block .fifth-block-inner {
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .fifth-block .fifth-block-inner .fifth-block-item > * {
    padding: 10px 30px; }
  .fifth-block .fifth-block-inner .fifth-block-item .item-title {
    font-size: 24px; }
  .fifth-block .fifth-block-inner .fifth-block-item .button-container {
    padding: 10px;
    display: inline-block;
    width: 100%; }
    .fifth-block .fifth-block-inner .fifth-block-item .button-container button {
      float: right;
      padding: 5px 40px;
      background: #fff;
      border: 1px solid #000;
      outline: none; }
      .fifth-block .fifth-block-inner .fifth-block-item .button-container button:active {
        background: #b2b2b2; }

.footer-block-old .footer-block-inner {
  display: inline-block;
  width: 100%; }
  .footer-block-old .footer-block-inner > * {
    display: inline-block;
    vertical-align: middle; }
  .footer-block-old .footer-block-inner .footer-logo-wrapper {
    padding: 30px 20px;
    min-width: 430px;
    width: calc(100%/3); }
    .footer-block-old .footer-block-inner .footer-logo-wrapper .footer-logo {
      background-image: url(../images/footer-logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 200px; }
    .footer-block-old .footer-block-inner .footer-logo-wrapper .logo-text {
      width: 100%;
      text-align: center;
      color: #ea2143; }
  .footer-block-old .footer-block-inner .footer-middle-wrapper {
    position: relative;
    min-width: 430px;
    width: calc(100%/3); }
    .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-header {
      margin-bottom: 20px; }
      .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-header .nav-pills {
        width: 100%;
        text-align: center; }
        .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-header .nav-pills li {
          float: none;
          display: inline-block; }
          .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-header .nav-pills li a {
            padding: 10px 5px; }
    .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-body {
      width: 100%;
      padding: 0 15px; }
      .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-body ul {
        padding: 0;
        list-style-type: none;
        width: 100%; }
        .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-body ul li {
          text-align: center;
          width: 50%;
          display: inline-block; }
      .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-body p {
        text-align: center; }
    .footer-block-old .footer-block-inner .footer-middle-wrapper .wrapper-footer {
      width: 100%; }
  .footer-block-old .footer-block-inner .footer-right-wrapper {
    position: relative;
    min-width: 430px;
    width: calc(100%/3); }
    .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-header {
      margin-bottom: 20px; }
      .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-header p {
        text-align: center;
        margin: 0; }
      .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-header .free-call {
        font-size: 16px;
        color: #959595;
        line-height: 1.2; }
      .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-header .number {
        font-size: 29px;
        color: black;
        line-height: 1.2; }
      .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-header .callback {
        font-size: 25px;
        text-decoration: underline;
        line-height: 1.2; }
        .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-header .callback a {
          color: #18794e; }
    .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-body ul {
      list-style-type: none;
      padding: 0;
      text-align: center; }
      .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-body ul li {
        width: calc(63px/1.5);
        height: calc(63px/1.5);
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
        .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-body ul li.ok {
          background-image: url(../images/social/ok.png); }
        .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-body ul li.facebook {
          background-image: url(../images/social/facebook.png); }
        .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-body ul li.vk {
          background-image: url(../images/social/vk.png); }
        .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-body ul li.instagram {
          background-image: url(../images/social/instagram.png); }
    .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer {
      text-align: center; }
      .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
        width: calc(430px/2);
        display: inline-block; }
        .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li {
          display: inline-block;
          width: calc(67px/1.5);
          height: calc(49px/1.5);
          text-align: center;
          background-size: contain;
          background-repeat: no-repeat; }
          .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li.mastercard {
            background-image: url(../images/payments/mastercard.png); }
          .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li.visa {
            background-image: url(../images/payments/visa.png); }
          .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li.sberbank {
            background-image: url(../images/payments/sberbank.png); }
          .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li.paypal {
            background-image: url(../images/payments/paypal.png); }
          .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li.yandex-money {
            background-image: url(../images/payments/yandex.money.png); }
          .footer-block-old .footer-block-inner .footer-right-wrapper .wrapper-footer ul li.qiwi {
            background-image: url(../images/payments/qiwi.png); }

.footer-block .footer-logo-wrapper .footer-logo {
  margin-top: 40px;
  background-image: url(../images/footer-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px; }
.footer-block .footer-logo-wrapper .footer-logo-text {
  text-align: center;
  color: #ea2143;
  font-size: 15px;
  margin-bottom: 80px; }
.footer-block .footer-middle-wrapper {
  padding: 0;
  margin: 10px; }
  .footer-block .footer-middle-wrapper .nav-pills li a {
    text-decoration: underline;
    padding: 10px 5px;
    color: #000; }
  .footer-block .footer-middle-wrapper .nav-pills li + li {
    position: relative; }
    .footer-block .footer-middle-wrapper .nav-pills li + li:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      top: 12px;
      background: #000; }
  .footer-block .footer-middle-wrapper .footer-middle-menu {
    padding-top: 40px;
    list-style-type: none; }
  .footer-block .footer-middle-wrapper p {
    font-size: 14px;
    width: 100%;
    font-weight: bold;
    display: block;
    text-align: center; }
.footer-block .footer-right-wrapper {
  padding: 0;
  margin: 10px; }
  .footer-block .footer-right-wrapper .text-block .label {
    font-size: 14px;
    color: #959595;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block; }
  .footer-block .footer-right-wrapper .text-block .number {
    font-size: 25px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    display: block; }
  .footer-block .footer-right-wrapper .text-block .callback a {
    font-size: 20px;
    color: #18794e;
    text-decoration: underline;
    line-height: 1.2;
    text-align: center;
    display: block;
    width: 100%; }
  .footer-block .footer-right-wrapper .social {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center; }
    .footer-block .footer-right-wrapper .social li {
      height: 50px;
      width: 50px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      .footer-block .footer-right-wrapper .social li.ok {
        background-image: url(../images/social/ok.png); }
      .footer-block .footer-right-wrapper .social li.facebook {
        background-image: url(../images/social/facebook.png); }
      .footer-block .footer-right-wrapper .social li.vk {
        background-image: url(../images/social/vk.png); }
      .footer-block .footer-right-wrapper .social li.instagram {
        background-image: url(../images/social/instagram.png); }
  .footer-block .footer-right-wrapper .payments {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center; }
    .footer-block .footer-right-wrapper .payments li {
      height: 40px;
      width: 60px;
      margin: 0 1px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      .footer-block .footer-right-wrapper .payments li.mastercard {
        background-image: url(../images/payments/mastercard.png); }
      .footer-block .footer-right-wrapper .payments li.visa {
        background-image: url(../images/payments/visa.png); }
      .footer-block .footer-right-wrapper .payments li.sberbank {
        background-image: url(../images/payments/sberbank.png); }
      .footer-block .footer-right-wrapper .payments li.paypal {
        background-image: url(../images/payments/paypal.png); }
      .footer-block .footer-right-wrapper .payments li.yandex-money {
        background-image: url(../images/payments/yandex.money.png); }
      .footer-block .footer-right-wrapper .payments li.qiwi {
        background-image: url(../images/payments/qiwi.png); }

.copyrights {
  margin-top: -15px;
  text-align: right; }
  .copyrights .devider {
    margin: 0 40px; }

.content-block {
  margin: 10px 0;
  box-sizing: border-box; }

.content-block-inner {
  display: inline-block;
  padding: 10px;
  width: 100%;
  position: relative;
  color: #000; }

ul.menu-buttons {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.menu-buttons .menu-item {
    min-width: 0;
    width: 100%;
    height: 109px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.41);
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0; }
    ul.menu-buttons .menu-item a {
      color: #fff; }
      ul.menu-buttons .menu-item a .icon {
        display: block;
        width: 100%;
        height: 27px;
        margin-top: 15px;
        margin-bottom: 10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
        ul.menu-buttons .menu-item a .icon.icon-all {
          background-image: url(../images/category/all.png); }
        ul.menu-buttons .menu-item a .icon.icon-collectors {
          background-image: url(../images/category/collectors.png); }
        ul.menu-buttons .menu-item a .icon.icon-sea {
          background-image: url(../images/category/sea.png); }
        ul.menu-buttons .menu-item a .icon.icon-other {
          background-image: url(../images/category/other.png); }
        ul.menu-buttons .menu-item a .icon.icon-casket {
          background-image: url(../images/category/casket.png); }
        ul.menu-buttons .menu-item a .icon.icon-cottages {
          background-image: url(../images/category/cottages.png); }
        ul.menu-buttons .menu-item a .icon.icon-dishes {
          background-image: url(../images/category/dishes.png); }
        ul.menu-buttons .menu-item a .icon.icon-electronics {
          background-image: url(../images/category/electronics.png); }
        ul.menu-buttons .menu-item a .icon.icon-games {
          background-image: url(../images/category/games.png); }
        ul.menu-buttons .menu-item a .icon.icon-watches {
          background-image: url(../images/category/watches.png); }
        ul.menu-buttons .menu-item a .icon.icon-writing {
          background-image: url(../images/category/writing.png); }
        ul.menu-buttons .menu-item a .icon.icon-souvenirs {
          background-image: url(../images/category/souvenirs.png); }
        ul.menu-buttons .menu-item a .icon.icon-leather {
          background-image: url(../images/category/leather.png); }
        ul.menu-buttons .menu-item a .icon.icon-photo {
          background-image: url(../images/category/photo.png); }
        ul.menu-buttons .menu-item a .icon.icon-writing {
          background-image: url(../images/category/writing.png); }
        ul.menu-buttons .menu-item a .icon.icon-lights {
          background-image: url(../images/category/lights.png); }
        ul.menu-buttons .menu-item a .icon.icon-smokes {
          background-image: url(../images/category/smokes.png); }
      ul.menu-buttons .menu-item a span {
        display: block;
        width: 100%;
        text-align: center;
        color: white; }
    ul.menu-buttons .menu-item.all {
      background: #f0549d; }
    ul.menu-buttons .menu-item.collectors {
      background: #a42d65; }
    ul.menu-buttons .menu-item.sea {
      background: #738cc6; }
    ul.menu-buttons .menu-item.other {
      background: #8cb14b; }
    ul.menu-buttons .menu-item.casket {
      background: #b2477f; }
    ul.menu-buttons .menu-item.cottages {
      background: #a977d4; }
    ul.menu-buttons .menu-item.dishes {
      background: #bc6e43; }
    ul.menu-buttons .menu-item.electronics {
      background: #67408b; }
    ul.menu-buttons .menu-item.games {
      background: #99ca87; }
    ul.menu-buttons .menu-item.watches {
      background: #df5f5f; }
    ul.menu-buttons .menu-item.souvenirs {
      background: #50c893; }
    ul.menu-buttons .menu-item.leather {
      background: #bdb671; }
    ul.menu-buttons .menu-item.photo {
      background: #88c9ae; }
    ul.menu-buttons .menu-item.writing {
      background: #eea031; }
    ul.menu-buttons .menu-item.lights {
      background: #9d2f40; }
    ul.menu-buttons .menu-item.smokes {
      background: #8872b9; }

@media (min-width: 768px) {
  ul.menu-buttons .menu-item {
    min-width: 0;
    width: calc(100%/2); }

  .navbar ul.nav li + li {
    position: relative; }
    .navbar ul.nav li + li:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 13px;
      top: 8px;
      background: #000; }

  .footer-block .footer-middle-wrapper .footer-middle-menu li {
    width: calc(100%/2);
    display: inline-block; }

  .dropdown .dropdown-menu > li {
    width: calc(100%/2); } }
@media (min-width: 992px) {
  .footer-block .footer-middle-wrapper {
    width: calc(41.667% - 20px); }
  .footer-block .footer-right-wrapper {
    width: calc(33% - 20px); }

  ul.menu-buttons .menu-item {
    min-width: 0;
    width: calc(100%/4); }

  .second-block .middle-block {
    width: calc(76% - 60px); }

  .fifth-block .fifth-block-col {
    padding: 0 15px 0 0; }
  .fifth-block .fifth-block-col + .fifth-block-col {
    padding: 0 0 0 15px; }

  .footer-block .footer-block-inner .footer-middle-wrapper .wrapper-header .nav-pills {
    text-align: left; }
  .footer-block .footer-block-inner .footer-middle-wrapper .wrapper-body ul li {
    text-align: left; }

  .dropdown .dropdown-menu > li {
    width: calc(100%/4); } }
@media (min-width: 1200px) {
  ul.menu-buttons .menu-item {
    min-width: 0;
    width: calc(100%/8); } }

/*# sourceMappingURL=styles.css.map */
