$screen-xs-min: 430px;
$screen-xs-max: 500px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* ul.menu-buttons .menu-item */
$menuItemWidth: 160px;
$menuItemHeight: 109px;

/* colors */
$greenColor: #53a17d;
$redColor: rgb(234, 33, 67);
$lightLightGrayColor: #f6f6f6;
$lightGrayColor: #eeeeee;
$whiteColor: #fff;
$blackColor: #000;

body {
    background: url(../images/bg.png);
}

$logoWidth: 310px;
$logoHeight: 95px;

@font-face {
    font-family: Enigmatics;
    src: url(../fonts/enigmatic_unicode_regular.ttf);
}

* {
    font-family: Enigmatics;
}

#logo {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    min-width: calc(#{$logoWidth}/1.5);
    width: 100%;
    min-height: $logoHeight;
    height: 100%;
}

#logo-title {
    color: $redColor;
}

.col-container {
    $inputHeight: 30px;
    position: relative;
    height: calc(#{$logoHeight + $inputHeight + 10});
    margin-bottom: 0;
    padding: 20px 0;
    p {
        text-align: right;
        margin: 0;
    }

    .search-field {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        input {
            border: 1px solid $greenColor;
            border-radius: 0;
        }

        .input-group-addon {
            background: $greenColor;
            border: 1px solid $greenColor;
            border-radius: 0;
            padding: 6px;
            cursor: pointer;

            .icon-search {
                background-image: url(../images/search.png);
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }
    .free-call {
        font-weight: 500;
        font-size: 14px;
    }
    .number {
        color: $redColor;
        font-size: 36px;
        font-weight: bold;
    }
    .callback a {
        color: $greenColor;
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
    }

}

$flagHeight: 149px;
$flagWidth: 109px;

#flag {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(#{$flagWidth/1.5});
    height: calc(#{$flagHeight/1.5});
    .basket {
        background-image: url(../images/basket.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 25px;
        margin: 10px 0 5px 0;
    }
    .basket-money,
    .basket-items {
        width: 100%;
        text-align: center;
        color: $whiteColor;
    }
}

.container {
    min-width: $screen-xs-min;
    & > .row {
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background: $lightLightGrayColor;
        &.fifth-block {
            box-shadow: none;
            background: transparent;
        }
        &.--no-row-shadow {
            box-shadow: 0;

            > div {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }
        &.--bg-none {
            background: transparent;
        }
    }
}

#slider-range {
    margin: 30px 0;

    .ui-widget-header {
        background: #ff9eae;
    }
}

.dropdown {
    li {
        a {
            &:hover {
                background: transparent;
            }
            color: $whiteColor;
            span {
                color: $whiteColor;
            }
        }
    }
    li.dropdown {
        &:first-child {
            .dropdown-menu {
                display: block;
            }
        }
    }

    .dropdown-menu {
        min-width: calc(350px - 20px);
        margin: 0;
        border-radius: 0;
        width: calc(100% - 20px);
        text-align: center;
        top: 0;
        left: 10px;
        //right: 0px;
        z-index: 1000;

        > li {
            //display: table-cell;
            > a:hover {
                background: rgba(0, 0, 0, 0.16);
            }

            display: inline-block;
            width: calc(100%);
        }

        .sub-menu {
            left: 100%;
            position: absolute;
            top: -10px;
            visibility: hidden;
        }
    }
    //&:hover,
    &.open {
        position: static;
        .dropdown-menu {
            display: table;
        }
    }
}

.navbar {
    min-height: 30px;
    background: transparent;
    margin-bottom: 0;

    ul.nav {
        li {
            a {
                padding: 5px;
            }
        }
    }
    .navbar-toggle {
        float: left;
    }

    .navbar-collapse {
        padding-right: 80px;
        width: 100%;
    }
}

.random-gift {
    color: $redColor;
    text-align: center;
}

.second-block {
    & > * {
        padding-left: 0;
        padding-right: 0;
    }

    .left-block {
        background: $whiteColor;
        margin: 10px;
        padding: 10px;
        position: relative;

        .form-title {
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: $redColor;
            line-height: 1.2;
            padding-bottom: 10px;
        }
        .form-control {
            &.range-input {
                border-radius: 0;
            }
        }
        .submit-filter {
            width: 65%;
            border: none;
            background: #ef5972;
            color: $whiteColor;
            font-size: 16px;
            box-shadow: inset 0 0 10px 0 $blackColor;
            margin: 0 auto;
            display: block;
            padding: 15px;
        }
    }
    .middle-block {
        margin: 10px;
        .main-rubric {
            position: relative;
            min-height: 286px;
            background: $redColor;
            .label-wrapper {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.25);

                span {
                    color: $whiteColor;
                    display: block;
                    width: 100%;
                    font-size: 36px;
                    line-height: calc(292px/3);
                    text-align: center;
                }
            }
            .arrow {
                position: absolute;
                width: 30px;
                height: 60px;
                top: 50%;
                transform: translateY(-50%);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                &.next {
                    background-image: url(../images/arrow-right.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    right: 0;
                }
                &.prev {
                    background-image: url(../images/arrow-left.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    left: 0;
                }
            }
        }
    }
    .right-block {
        margin: 10px;

        .rubric-item {
            $height: calc((286px - 10px)/2);
            height: $height;
            background: yellowgreen;
            position: relative;

            .label-wrapper {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.25);

                span {
                    color: $whiteColor;
                    display: block;
                    width: 100%;
                    font-size: 20px;
                    line-height: calc(#{$height}/3);
                    text-align: center;
                }
            }
        }

        .rubric-item + .rubric-item {
            margin-top: 10px;
        }
    }
}

.third-block {
    .third-block-inner {
        margin: 10px 0;
        .third-block-item {
            position: relative;
            height: 175px;
            background: yellow;
            .bottom-title {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.2);
                height: 50px;
                width: 100%;

                .text {
                     position: absolute;
                     display: block;
                     left: 50%;
                     top: 50%;
                     font-size: 20px;
                     text-align: center;
                     width: 100%;
                     transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.fourth-block {
    .fourth-block-title {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 24px;
    }
    .fourth-block-inner {
        margin: 10px 0;
        .fourth-block-item {
            position: relative;
            height: 250px;
            border: 1px solid;
            background: transparent;
        }
        .fourth-block-descr {
            border: 1px solid;
            background: $lightGrayColor;
            .item-category {
                padding: 10px 0;
                text-align: center;
            }
            .item-title {
                padding: 10px 0;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
            .item-rating {
                text-align: center;
            }
            .add-to-basket {
                width: 100%;
                padding: 15px;
                background: $redColor;
                box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.75);
                span {
                    color: $whiteColor;
                    font-size: 16px;
                }
                .basket {
                    background-image: url(../images/basket.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    float:right;
                }
            }
        }
    }
}

.fifth-block {
    .fifth-block-col {
        padding: 0;
    }
    .fifth-block-col + .fifth-block-col {
        padding-top: 20px;
    }
    .fifth-block-inner {
        padding: 10px;
        background: $lightLightGrayColor;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
        .fifth-block-item {
            > * {
                padding: 10px 30px;
            }
            .item-title {
                font-size: 24px;
            }
            .item-descr {

            }
            .button-container {
                padding: 10px;
                display: inline-block;
                width: 100%;
                button {
                    float: right;
                    padding: 5px 40px;
                    background: $whiteColor;
                    border: 1px solid $blackColor;
                    outline: none;
                    &:active {
                        background: #b2b2b2;
                    }
                }
            }
        }
    }
}

.footer-block-old {
    .footer-block-inner {
        display: inline-block;
        width: 100%;
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        .footer-logo-wrapper {
            padding: 30px 20px;
            min-width: $screen-xs-min;
            width: calc(100%/3);
            .footer-logo {
                background-image: url(../images/footer-logo.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 200px;
            }
            .logo-text {
                width: 100%;
                text-align: center;
                color: $redColor;
            }
        }
        .footer-middle-wrapper {
            position: relative;
            min-width: $screen-xs-min;
            width: calc(100%/3);
            .wrapper-header {
                margin-bottom: 20px;
                .nav-pills {
                    width: 100%;
                    text-align: center;
                    li {
                        float: none;
                        display: inline-block;
                        a {
                            padding: 10px 5px;
                        }
                    }
                }
            }
            .wrapper-body {
                width: 100%;
                padding: 0 15px;
                ul {
                    padding: 0;
                    list-style-type: none;
                    width: 100%;
                    li {
                        text-align: center;
                        width: 50%;
                        display: inline-block;
                    }
                }
                p {
                    text-align: center;
                }
            }
            .wrapper-footer {
                width: 100%;
            }
        }
        .footer-right-wrapper {
            position: relative;
            min-width: $screen-xs-min;
            width: calc(100%/3);
            .wrapper-header {
                margin-bottom: 20px;
                p {
                    text-align: center;
                    margin: 0;
                }
                .free-call {
                    font-size: 16px;
                    color: rgb(149, 149, 149);
                    line-height: 1.2;
                }
                .number {
                    font-size: 29px;
                    color: rgb(0, 0, 0);
                    line-height: 1.2;
                }
                .callback {
                    font-size: 25px;
                    text-decoration: underline;
                    line-height: 1.2;
                    a {
                        color: rgb(24, 121, 78);
                    }
                }
            }
            .wrapper-body {
                ul {
                    list-style-type: none;
                    padding: 0;
                    text-align: center;
                    li {
                        $width: 63px;
                        $height: 63px;

                        width: calc(#{$width}/1.5);
                        height: calc(#{$height}/1.5);

                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        &.ok {
                            background-image: url(../images/social/ok.png);
                        }
                        &.facebook {
                            background-image: url(../images/social/facebook.png);
                        }
                        &.vk {
                            background-image: url(../images/social/vk.png);
                        }
                        &.instagram {
                            background-image: url(../images/social/instagram.png);
                        }
                    }
                }
            }
            .wrapper-footer {
                text-align: center;
                ul {
                    padding: 0;
                    list-style-type: none;
                    text-align: center;
                    width: calc(#{$screen-xs-min}/2);
                    display: inline-block;
                    li {
                        $width: 67px;
                        $height: 49px;

                        display: inline-block;
                        width: calc(#{$width}/1.5);
                        height: calc(#{$height}/1.5);
                        text-align: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &.mastercard {
                            background-image: url(../images/payments/mastercard.png);
                        }
                        &.visa {
                            background-image: url(../images/payments/visa.png);
                        }
                        &.sberbank {
                            background-image: url(../images/payments/sberbank.png);
                        }
                        &.paypal {
                            background-image: url(../images/payments/paypal.png);
                        }
                        &.yandex-money {
                            background-image: url(../images/payments/yandex.money.png);
                        }
                        &.qiwi {
                            background-image: url(../images/payments/qiwi.png);
                        }
                    }
                }
            }
        }
    }
}

.footer-block {
    .footer-logo-wrapper {
        .footer-logo {
            margin-top: 40px;
            background-image: url(../images/footer-logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
        }
        .footer-logo-text {
            text-align: center;
            color: $redColor;
            font-size: 15px;
            margin-bottom: 80px;
        }
    }
    .footer-middle-wrapper {
        padding: 0;
        margin: 10px;
        .nav-pills {
            li {
                a {
                    text-decoration: underline;
                    padding: 10px 5px;
                    color: $blackColor
                }
            }
            li + li {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 15px;
                    top: 12px;
                    background: #000;
                }
            }
        }
        .footer-middle-menu {
            padding-top: 40px;
            list-style-type: none;
        }
        p {
            font-size: 14px;
            width: 100%;
            font-weight: bold;
            display: block;
            text-align: center;
        }
    }
    .footer-right-wrapper {
        padding: 0;
        margin: 10px;
        .text-block {
            .label {
                font-size: 14px;
                color: rgb(149, 149, 149);
                line-height: 1.2;
                text-align: center;
                width: 100%;
                display: block;
            }
            .number {
                font-size: 25px;
                color: $blackColor;
                line-height: 1.2;
                text-align: center;
                display: block;
            }
            .callback a {
                font-size: 20px;
                color: rgb(24, 121, 78);
                text-decoration: underline;
                line-height: 1.2;
                text-align: center;
                display: block;
                width: 100%;
            }
        }
        .social {
            padding: 0;
            list-style-type: none;
            overflow: hidden;
            text-align: center;

            li {
                height: 50px;
                width: 50px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                &.ok {
                    background-image: url(../images/social/ok.png);
                }
                &.facebook {
                    background-image: url(../images/social/facebook.png);
                }
                &.vk {
                    background-image: url(../images/social/vk.png);
                }
                &.instagram {
                    background-image: url(../images/social/instagram.png);
                }
            }
        }
        .payments {
            padding: 0;
            list-style-type: none;
            overflow: hidden;
            text-align: center;

            li {
                height: 40px;
                width: 60px;
                margin: 0 1px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                &.mastercard {
                    background-image: url(../images/payments/mastercard.png);
                }
                &.visa {
                    background-image: url(../images/payments/visa.png);
                }
                &.sberbank {
                    background-image: url(../images/payments/sberbank.png);
                }
                &.paypal {
                    background-image: url(../images/payments/paypal.png);
                }
                &.yandex-money {
                    background-image: url(../images/payments/yandex.money.png);
                }
                &.qiwi {
                    background-image: url(../images/payments/qiwi.png);
                }
            }
        }
    }
}

.copyrights {
    margin-top: -15px;
    text-align: right;
    .devider {
        margin: 0 40px;
    }
}

.content-block {
    margin: 10px 0;
    box-sizing: border-box;
}

.content-block-inner {
    display: inline-block;
    padding: 10px;
    width: 100%;
    position: relative;
    color: $blackColor;
}

ul.menu-buttons {

    margin: 0;
    padding: 0;
    list-style-type: none;

    .menu-item {
        min-width: 0;
        width: 100%;
        height: $menuItemHeight;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.41);
        display: inline-block;
        vertical-align: top;
        float: left;
        margin: 0;
        padding: 0;

        a {
            color: $whiteColor;
            .icon {
                $width: 29px;
                $height: 27px;

                display: block;
                width: 100%;
                height: $height;
                margin-top: 15px;
                margin-bottom: 10px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                &.icon-all {
                    background-image: url(../images/category/all.png);
                }
                &.icon-collectors {
                    background-image: url(../images/category/collectors.png);
                }
                &.icon-sea {
                    background-image: url(../images/category/sea.png);
                }
                &.icon-other {
                    background-image: url(../images/category/other.png);
                }
                &.icon-casket {
                    background-image: url(../images/category/casket.png);
                }
                &.icon-cottages {
                    background-image: url(../images/category/cottages.png);
                }
                &.icon-dishes {
                    background-image: url(../images/category/dishes.png);
                }
                &.icon-electronics {
                    background-image: url(../images/category/electronics.png);
                }
                &.icon-games {
                    background-image: url(../images/category/games.png);
                }
                &.icon-watches {
                    background-image: url(../images/category/watches.png);
                }
                &.icon-writing {
                    background-image: url(../images/category/writing.png);
                }
                &.icon-souvenirs {
                    background-image: url(../images/category/souvenirs.png);
                }
                &.icon-leather {
                    background-image: url(../images/category/leather.png);
                }
                &.icon-photo {
                    background-image: url(../images/category/photo.png);
                }
                &.icon-writing {
                    background-image: url(../images/category/writing.png);
                }
                &.icon-lights {
                    background-image: url(../images/category/lights.png);
                }
                &.icon-smokes {
                    background-image: url(../images/category/smokes.png);
                }
            }
            span {
                display: block;
                width: 100%;
                text-align: center;
                color: white;
            }
        }

        &.all {
            background: #f0549d;
        }
        &.collectors {
            background: #a42d65;
        }
        &.sea {
            background: #738cc6;
        }
        &.other {
            background: #8cb14b;
        }
        &.casket {
            background: #b2477f;
        }
        &.cottages {
            background: #a977d4;
        }
        &.dishes {
            background: #bc6e43;
        }
        &.electronics {
            background: #67408b;
        }
        &.games {
            background: #99ca87;
        }
        &.watches {
            background: #df5f5f;
        }
        &.souvenirs {
            background: #50c893;
        }
        &.leather {
            background: #bdb671;
        }
        &.photo {
            background: #88c9ae;
        }
        &.writing {
            background: #eea031;
        }
        &.lights {
            background: #9d2f40;
        }
        &.smokes {
            background: #8872b9;
        }
    }
}

@media (min-width: $screen-sm-min) {
    ul.menu-buttons {
        .menu-item {
            min-width: 0;
            width: calc(100%/2);
        }
    }
    .navbar {
        ul.nav {
            li + li {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 13px;
                    top: 8px;
                    background: #000;
                }
            }
        }
    }

    .footer-block {
        .footer-middle-wrapper {
            .footer-middle-menu {
                li {
                    width: calc(100%/2);
                    display: inline-block;
                }
            }
        }
    }

    .dropdown {
        .dropdown-menu {
            > li {
                width: calc(100%/2)
            }
        }
    }
}

@media (min-width: $screen-md-min) {

    .footer-block {
        .footer-middle-wrapper {
            width: calc(41.667% - 20px);
        }
        .footer-right-wrapper {
            width: calc(33% - 20px);
        }
    }
    ul.menu-buttons {
        .menu-item {
            min-width: 0;
            width: calc(100%/4);
        }
    }
    .second-block {
        .middle-block {
            width: calc(50% - 60px);
        }
    }
    .fifth-block {
        .fifth-block-col {
            padding: 0 15px 0 0;
        }
        .fifth-block-col + .fifth-block-col {
            padding: 0 0 0 15px;
        }
    }
    .footer-block {
        .footer-block-inner {
            .footer-middle-wrapper {
                .wrapper-header {
                    .nav-pills {
                        text-align: left;
                    }
                }
                .wrapper-body {
                    ul li {
                        text-align: left;
                    }
                }
            }
        }
    }
    .dropdown {
        .dropdown-menu {
            > li {
                width: calc(100%/4)
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    ul.menu-buttons {
        .menu-item {
            min-width: 0;
            width: calc(100%/8);
        }
    }
}
