<div class="row fourth-block">
        <div class="fourth-block-title">
            Наши новинки
        </div>
        <div id="newItems">
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1">
                            <input type="radio" name="example" class="rating" value="2">
                            <input type="radio" name="example" class="rating" value="3">
                            <input type="radio" name="example" class="rating" value="4">
                            <input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1"><input type="radio" name="example" class="rating" value="2"><input type="radio" name="example" class="rating" value="3"><input type="radio" name="example" class="rating" value="4"><input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1"><input type="radio" name="example" class="rating" value="2"><input type="radio" name="example" class="rating" value="3"><input type="radio" name="example" class="rating" value="4"><input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1"><input type="radio" name="example" class="rating" value="2"><input type="radio" name="example" class="rating" value="3"><input type="radio" name="example" class="rating" value="4"><input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1">
                            <input type="radio" name="example" class="rating" value="2">
                            <input type="radio" name="example" class="rating" value="3">
                            <input type="radio" name="example" class="rating" value="4">
                            <input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1"><input type="radio" name="example" class="rating" value="2"><input type="radio" name="example" class="rating" value="3"><input type="radio" name="example" class="rating" value="4"><input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1"><input type="radio" name="example" class="rating" value="2"><input type="radio" name="example" class="rating" value="3"><input type="radio" name="example" class="rating" value="4"><input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fourth-block-inner">
                    <div class="fourth-block-item"></div>
                    <div class="fourth-block-descr">
                        <div class="item-category">
                            Рамки
                        </div>
                        <div class="item-title">
                            Ковер
                        </div>
                        <div class="item-rating">
                            <input type="radio" name="example" class="rating" value="1"><input type="radio" name="example" class="rating" value="2"><input type="radio" name="example" class="rating" value="3"><input type="radio" name="example" class="rating" value="4"><input type="radio" name="example" class="rating" value="5">
                        </div>
                        <div class="add-to-basket">
                            <span>39990р</span>
                            <span class="basket"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
